.board {
    position: absolute;
  top: 0;
  right: 0;
    border-radius: 8px;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}